
figure{
  margin: 0;
  height: 77px;
  display: inline-block;
  
  /*border: 1px solid black; 测试作用*/
}

#logo{
  margin: 10px 0px 10px 20px;
  height: 57px;
  -webkit-transition: all .2s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all 0.2s;
}

.header{
    background-color: aliceblue;
}

.middle{
    background-color: antiquewhite;
}


nav{
  width:240px;                                            /*   */
  font-family: "Arial", Helvetica, sans-serif;
  display: inline-block;
  height: 65px;
  float: right;
  margin-top: 12px;
  /*border: 1px solid black; 测试作用*/
}

nav li{
  display:inline;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  
    border-color: black;
}
