
.header{
   /* background-color:salmon; */
    width: 70%;
    margin-left: 15%;
   
}
/*  nav bar */
  ul.navbar{
     /* background-color:skyblue; */
     
      overflow:hidden;
      width: 10%;
      
      float:left;
      position: fixed;
      list-style-type:circle;
     }
ul.navbar li{
    padding: 10px;
}

ul.navbar li a{
   
     display: block;
    color: black;
    font-size: 150%;
    text-decoration: none;
    transition: all 0.2s;
}

ul.navbar li a:hover{
    color: red;
}

   h1{
       font-family:cursive;
       font-size: 45px;
       text-align: center;
    }

        
    body{
       /* background-color:azure; */
       
        width: 95%;
        margin: 0 auto;
        /* background-image:url("../images/pugong.jpg"); */
         background: url(../images/pugong.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        }
  


/* introduction, picture and short description   */
#introduction{ 
    margin-left: 15%;
    width: 70%;
    display:inline-block;
    font-size: 200%;
    /* background-color: bisque; */
}
#profile{
    float:left;
}


/* education */
h2{
    font-size: 40px;
    text-align: center;
}

#education{
  /* background-color: aquamarine; */
   width: 70%;
    margin-left: 15%;
}
 
#education_header{
    text-align: center;
    font-family:monospace;
   font-size: 400%;
}

.buffalo, .stonybrook{
   float:left;
   overflow: hidden;
   width: 70%;
   margin-left: 15%;
}

.blank{
     float:left;
   overflow: hidden;
   width: 70%;
   margin-left: 15%;
    color:white;
    background-color: 
}

.buffalo{
   /* background-color: #00bfff; */
    
   
}

.SBTime, UBTime{
     float:left;
   overflow: hidden;
   width: 70%;
   margin-left: 15%;
   
}

div.UBTime h1{
    font-size: 250%;
}

div.SBTime h1{
    font-size: 250%;
}
.stonybrook{
   /* background-image: url(../images/SBUBackground.jpg); */
}
.semester {
      text-align: center;
      width:36%;
      margin-left: 7%;
      margin-top: 2%;
      float: left;
     /* background-color: white; */ 
      overflow: hidden;
      border: 1px solid lightgray;
     background-image: url(../images/SBUBackground.jpg);
      }

table {
      text-align: center;
      font-size: 155%;
      }
      
      tr:nth-child(even) {
      background-color: #FAE1E1;
      }
      hr {
      border: 1px solid lightgray;
      width: 25%;}

/* Project section  */
#works{
    
    margin-left: 15%;
    width: 70%;
    display:inline-block;
    font-size: 200%;

}
#works h2{
    font-size: 200%;
}

#school_projects{
    
}





